@mixin header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    color: blue;
    margin: auto;
    padding: 0 5%;
}
@mixin div{
    display: flex;
    //flex-direction: column;
    justify-content: space-between;
    //align-items: center;
    margin: 0;
    
}