$blueImagePath: './images/croppedBackground.png';
$breadImagePath: './images/bread.png';
$brownImagePath: './images/brownbackground.png';
$swirlImagePath: './images/swirl-background.jpg';
$textColor1: blue;