@import "./partials/mixin";
@import "./partials/variables";

.header{
    @include header;
}

.content{
    background-image: url($blueImagePath);
    background-size: cover;
    background-position: center;
}
h1{
    color: $textColor1;
    font-size: 3vw;
    text-align: center;
}

.headshot {
    float: left;
    border-top-left-radius: 15px;
    border: 5px solid black;
}
.mission {
    border: 3px solid blue;
    margin: 100px 75px 150px 50px;
}
.inspiration {
    border: 3px solid blue;
    margin: 100px 75px 500px 50px;

}